@mixin font($size, $weight: 400, $style: normal, $height) {
  font-size: $size;
  font-weight: $weight;
  font-style: $style;
  line-height: $height;
}

@mixin media-desktop {
  @media (max-width: $desktop-width) {
    @content;
  }
}

@mixin media-tablet {
  @media (max-width: $tablet-width) {
    @content;
  }
}

@mixin media-tablet-min {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin media-1030 {
  @media (max-width: 1030px) {
    @content;
  }
}

@mixin media-mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
} ;
