@mixin font($size, $weight: 400, $style: normal, $height) {
  font-size: $size;
  font-weight: $weight;
  font-style: $style;
  line-height: $height;
}

@mixin media-desktop {
  @media (max-width: $desktop-width) {
    @content;
  }
}

@mixin media-desktop-min {
  @media (max-width: calc($desktop-width - 1px)) {
    @content;
  }
}

@mixin media-tablet {
  @media (max-width: $tablet-width) {
    @content;
  }
}

@mixin media-tablet-min {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin media-1030 {
  @media (max-width: 1030px) {
    @content;
  }
}

@mixin media-900 {
  @media (max-width: 900px) {
    @content;
  }
}

@mixin media-700 {
  @media (max-width: 700px) {
    @content;
  }
}

@mixin media-600 {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin media-400 {
  @media (max-width: 400px) {
    @content;
  }
}

@mixin media-350 {
  @media (max-width: 350px) {
    @content;
  }
}

@mixin media-mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
} ;
