html {
  font-size: 10px;
}

body {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  @include font($size: 4.4rem, $height: 5.72rem);
  color: var(--color-light-xl);
  margin: 0;
}

h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  @include font($size: 3.5rem, $height: 4.55rem);
  color: var(--color-dark-l);
  letter-spacing: 0.2rem;
  margin: 0;
}

h4 {
  font-family: Georgia, "Times New Roman", Times, serif;
  @include font($size: 2rem, $height: 2.3rem);
  margin: 0;
}

h5 {
  font-family: Georgia, "Times New Roman", Times, serif;
  @include font($size: 1.5rem, $height: 1.65rem);
  margin: 0;
  color: var(--color-dark-l);
  letter-spacing: 0.085rem;
  line-height: 110%;
}
