.about__wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.about__content {
  order: 2;
  max-width: 430px;
  margin: 95px 0 100px 0;
}

.about__image {
  order: 1;
  margin: 80px -55px 0 0;
}

.about__text {
  padding: 7px 0 4px;
  color: var(--color-dark-xl);
  line-height: 24px;
}
