.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding: 30px 0 0 0;
}

.header__logo {
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 3.2rem;
  line-height: 110%;
  letter-spacing: 0.2rem;
  color: var(--color-primary);
}

.header__description {
  margin: 0;
  padding: 10px 2px 0 2px;
  font-size: 1.3rem;
  letter-spacing: 1.4px;
  color: var(--color-light-xl);
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.header__link {
  list-style: none;
  padding: 25px 0 0 36px;
  &:hover {
    a {
      transition: all 0.5s;
      color: var(--color-light-s);
    }
  }

  &:active {
    a {
      transition: all 0.3s;
      color: var(--color-light-s);
      border-bottom: 3px solid var(--color-primary);
      padding: 4px 0;
    }
  }
}

.header__link_active {
  a {
    cursor: default;
    color: var(--color-light-s);
    border-bottom: 3px solid var(--color-primary);
    padding: 4px 0;
  }
}

a {
  text-decoration: none;
  color: var(--color-dark-s);
  line-height: 160%;
}
