.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
}

.logo {
  padding: 30px 0 0;
  @include media-tablet-min {
    padding-left: 10px;
  }
}

.header__logo {
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 3.2rem;
  line-height: 110%;
  letter-spacing: 0.2rem;
  color: var(--color-primary);
}

.header__description {
  margin: 0;
  padding: 10px 2px 0 2px;
  font-size: 1.3rem;
  letter-spacing: 1.4px;
  color: var(--color-light-xl);
}

.header__navigation {
  @include media-tablet-min {
    position: fixed;
    overflow: auto;
    top: 0;
    right: -100%;
    height: 100%;
    width: 320px;
    background-color: var(--color-dark-3xl);
    transition: right 1s ease-out 0s;
    box-shadow: none;
  }
}

.header__navigation_active {
  right: 0;
  transition: box-shadow 0s ease-in;
  transition: right 1s ease-out 0s;
  transform: translate(0px, 0px);
}

.overlay_active {
  transition: all 0.5s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 310px);
  height: 100%;
  background-color: rgba(41, 41, 41, 0.6);
}

.navigation {
  display: flex;
  justify-content: space-between;

  @include media-tablet-min {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 216px 0;
  }
}

.header__link {
  list-style: none;
  padding: 25px 36px 0 0;

  @include media-tablet-min {
    padding: 20px 0;
  }

  &:last-child {
    padding: 25px 0 0;
  }

  &:hover {
    a {
      transition: all 0.5s;
      color: var(--color-light-s);
    }
  }

  &:active {
    a {
      transition: all 0.3s;
      color: var(--color-light-s);
      border-bottom: 3px solid var(--color-primary);
      padding: 4px 0;
    }
  }
}

.header__link_active {
  a {
    cursor: default;
    color: var(--color-light-s);
    border-bottom: 3px solid var(--color-primary);
    padding: 4px 0;
  }
}

a {
  text-decoration: none;
  color: var(--color-dark-s);
  line-height: 160%;
  @include media-tablet-min {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 160%;
  }
}
