.our-friends {
  background-color: var(--color-light-l);
  width: 100%;
}

.our-friends-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.our-friends__header {
  letter-spacing: 0.21rem;
  max-width: 400px;
  margin: auto;
  text-align: center;
  margin-top: 75px;
}

.carousel-elements {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 59px 0 60px;
}

.our-friends__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 435px;
  width: 270px;

  cursor: pointer;
  margin: 0 40px;
  background-color: var(--color-light-s);
  border-radius: 9px;
  transition: all 0.5s;

  &:hover {
    background-color: var(--color-light-xl);
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);

    .learn-more-button {
      background-color: var(--color-primary-light);
      border: var(--color-primary-light);
    }
  }
}

.carousel-image {
  display: block;
  max-width: 270px;
  max-height: 270px;
  border-radius: 9px 9px 0 0;
}

.pet-name {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: var(--color-dark-l);
  font-size: 2rem;
  letter-spacing: 0.96px;
  margin: 30px 0;
}
