.our-friends {
  background-color: var(--color-light-l);
  width: 100%;
  padding: 75px 0 100px;

  @include media-tablet {
    padding-top: 80px;
  }

  @include media-400 {
    padding: 45px 0 42px;
  }
}

.our-friends-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.our-friends__header {
  letter-spacing: 0.21rem;
  max-width: 400px;
  margin: auto;
  text-align: center;

  @include media-350 {
    letter-spacing: 0.06em;
  }
}

.carousel-elements {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 59px 0 60px;

  @include media-400 {
    margin-top: 42px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 42px;
  }
}

.our-friends__item {
  order: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 435px;
  width: 270px;

  cursor: pointer;
  margin: 0 40px;
  background-color: var(--color-light-s);
  border-radius: 9px;
  transition: all 0.5s;

  &:hover {
    background-color: var(--color-light-xl);
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);

    .learn-more-button {
      background-color: var(--color-primary-light);
      border: var(--color-primary-light);
    }
  }

  @include media-desktop {
    margin: auto;
  }

  @include media-1030 {
    &:nth-child(3) {
      display: none;
    }
  }

  @include media-tablet {
    margin: auto;
    // &:last-child {
    //   margin: 0;
    // }
    // &:first-child {
    //   margin: 0;
    // }
  }

  @include media-700 {
    &:nth-child(2) {
      display: none;
    }
  }

  @include media-400 {
    order: -1;
    margin: 0 40px 20px;
  }
}

.left-button {
  order: 1;
  @include media-400 {
    margin: 0 40px;
  }
}

.right-button {
  order: 3;
  @include media-400 {
    margin: 0 40px;
  }
}

.carousel-image {
  display: block;
  max-width: 270px;
  max-height: 270px;
  border-radius: 9px 9px 0 0;
}

.pet-name {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: var(--color-dark-l);
  font-size: 2rem;
  letter-spacing: 0.96px;
  margin: 30px 0;
}
